* {
    font-family: Arial, sans-serif;
    color: black;
}

nav {
    text-align: right;
}

main {
    width: 60%;
    margin: 0 auto;
}

.content-and-buttons {
    width: max-content;
    margin: 0 auto;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: center;
}

ol {
    padding-inline-start: 1.2em;
}

ol li span.label {
    font-weight: bold;
}

fieldset, input[type="submit"] {
    margin: 0.7em;
}

fieldset {
    padding: 0;
    border: 0;
}

table {
    border: 3px solid black;
    border-collapse: collapse;
    margin-bottom: 0.5em;
}

thead {
    background-color: slategray;
}

tr {
    border-top: 1px solid black;
}

th, td {
    text-align: center;
}

th {
    border: 2px solid white;
}

.main-button {
    background-color: orangered;
    color: white;
}

.main-button:hover {
    background-color: hsl(16, 100%, 60%);
}

.main-button:active {
    background-color: hsl(16, 100%, 70%);
}

.delete-button {
    color: red;
}

.disable-button {
    color: blue;
}

.enable-button {
    color: darkgreen;
}
