<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Details</title>
    <link rel="icon" href="/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/users-style-sheet.css"/>
</head>
<body>
<nav>
    <a th:href="@{/logout}">Log out</a>
</nav>
<main>
    <h2>Update your info</h2>
    <p th:text="'Unfortunately, you are not allowed to directly change your department and salary. ' +
        'If you wish to alter this information, consider getting in touch with ' +
        ${user.isAdmin() ? 'the shareholders' : 'your superiors'}"></p>
    <div class="content-and-buttons">
        <form th:action="@{/save-user}" th:object="${user}" method="post">
            <input type="hidden" th:field="*{id}"/>

            <fieldset>
                <label for="username">Username: </label>
                <input id="username" th:field="*{username}"/>
            </fieldset>

            <input type="hidden" th:field="*{password}"/>

            <fieldset>
                <label for="name">Name: </label>
                <input id="name" th:field="*{name}"/>
            </fieldset>

            <fieldset>
                <label for="last-name">Last name: </label>
                <input id="last-name" th:field="*{lastName}"/>
            </fieldset>

            <input type="hidden" th:field="*{department}"/>

            <input type="hidden" th:field="*{salary}"/>

            <fieldset>
                <label for="age">Age: </label>
                <input id="age" th:field="*{age}"/>
            </fieldset>

            <fieldset>
                <label for="email">Email: </label>
                <input id="email" th:field="*{email}"/>
            </fieldset>

            <input type="hidden" th:field="*{enabledByte}"/>

            <input type="hidden" th:name="authorities"
                   th:value="*{#strings.toString(authorities)}"/>

            <input class="main-button" type="submit" value="Submit">
        </form>
    </div>
</main>
</body>
</html>