<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="icon" href="../favicon.ico"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link href="../users-style-sheet.css" rel="stylesheet">
</head>
<body>
<nav>
    <a th:href="@{/logout}">Log out</a>
</nav>
<main>
    <h2>Update your password</h2>
    <div class="content-and-buttons">
    <form class="forms" th:action="@{/save-user(password=true)}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <input type="hidden" th:field="*{username}"/>

        <label for="password">Your new password: </label>
        <input id="password" th:field="${defaultPassword}"/>

        <input type="hidden" th:field="*{lastName}"/>

        <input type="hidden" th:field="*{department}"/>

        <input type="hidden" th:field="*{salary}"/>

        <input type="hidden" th:field="*{age}"/>

        <input type="hidden" th:field="*{email}"/>

        <input class="main-button" type="submit" value="Submit">
    </form>
    </div>
</main>
</body>
</html>